.cartPage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 650px;
}

.cartTitle {
  font-size: 2rem;
}

.cartForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cartForm p {
  margin: 0;
  padding: 0;
}

.cartTable {
  width: min(90%, 1200px);
}

.cartTable tr {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--accent);
}

.cartTable tbody tr {
  padding: 1rem 0;
}

/*  */

.cartItemRow p {
  font-size: 1.2rem;
  font-weight: bold;
}

.cartItemMain {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.cartItemMain img {
  height: 100px;
  min-width: 100px;
  width: 100%;
  object-fit: cover;
  border: 5px solid var(--accent-lightest);
  padding: 0.1rem;
}

.cartItemMain img:hover {
  border: 2px solid var(--primary);
}

.cartItemQuantityContainer {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.cartItemQuantityContainer button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  padding: 0.1rem 0.3rem;
}

.removeBtnContainer {
  width: fit-content;
  justify-self: end;
}

.removeBtnContainer button {
  border: none;
  border-radius: 3px;
  background-color: var(--accent-lightest);
  padding: 0.5rem 1rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 600;
}

.removeBtnContainer button:hover {
  color: var(--text-light);
  background-color: brown;
}

/*  */

.cartCheckout {
  width: min(90%, 1200px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.cartTotalPriceContainer {
  display: flex;
  gap: 0.7rem;
  border-bottom: 1px solid black;
}

.cartTotalPriceContainer p:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}

.cartTotalPriceContainer p:nth-child(2) {
  font-size: 2.1rem;
  font-weight: bold;
}

.checkoutBtn {
  width: min-content;
  border: none;
  padding: 0.8rem 2.2rem;
  font-size: 1.3rem;
  background-color: var(--accent-lighter);
  color: var(--text-light);
}

.checkoutBtn:hover {
  background-color: brown;
}

.checkoutBtn:disabled {
  background-color: gray;
  color: darkgray;
  cursor: not-allowed;
}

.keepShoppingLink {
  color: black;
}

/*  */

.alertComponent {
  position: absolute;
  width: min(400px, 40%);
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  */

.shopNowHeader {
  letter-spacing: 1px;
}

.shopNowLink {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--text-dark);
  letter-spacing: 0.5px;
}
