.slick-slide {
  background-color: transparent !important;
  padding: 0 15px !important;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primary-darker) !important;
  font-size: 25px !important;
}
