.logoButtonsContainer {
  position: relative;
}

.buttonsContainer {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  width: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 1rem;
  margin-right: 1.5rem;
}

.logoContainer {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  background-color: #155e75;
  padding: 2rem;
}

.logoContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.logoContainer a > * {
  margin-bottom: 0;
}

.logoContainer a:hover {
  transform: scale(1.05);
}

.mainHeading {
  font-size: 2.7rem;
}

.subHeading {
  font-size: 1.5rem;
}

.navLinksContainer {
  composes: flexCenter from "../../assets/global.css";
  gap: 1rem;
  background-color: #27272a;
  padding: 1rem;
}

.navLinksContainer > a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 1.2rem;
  font-weight: 600;
}

.navLinksContainer > a:hover {
  text-decoration: underline;
}

.activeNavLink {
  text-decoration: underline;
}
