header {
  container-type: inline-size;
}

/* Default Styles (Desktop and Tablet) */

.logoButtonsContainer {
  position: relative;
  background-color: var(--primary);
}

.logoContainer {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  padding: 2rem;
}

.logoContainer a {
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.logoContainer a > * {
  margin-bottom: 0;
  cursor: pointer;
}

.logoContainer a:hover {
  transform: scale(1.05);
}

.mainHeading {
  font-size: 2.7rem;
}

.subHeading {
  font-size: 1.5rem;
}

/*  */

.buttonsContainer {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  width: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 1rem;
  margin-right: 1.5rem;
}

.cartBtnContainer {
  position: relative;
  transform: scale(1);
  transition: transform 0.1s linear;
}

.cartBtnContainer:hover {
  transform: scale(1.1);
}

.cartSizeDisplay {
  background-color: var(--accent);
  color: var(--text-light);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  top: 60%;
  right: -5%;
  font-size: 1rem;
  border-radius: 50%;
}

/*  */

.navLinksContainer {
  composes: flexCenter from "../../assets/global.css";
  gap: 1.7rem;
  padding: 1rem;
  background-color: var(--accent);
  color: var(--text-light);
}

.navLinksContainer > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 600;
}

.navLinksContainer > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Mobile Styles (width < 600px) */
@container (width < 600px) {
  .logoContainer {
    padding: 1rem;
  }

  .mainHeading {
    font-size: 2rem;
  }

  .subHeading {
    font-size: 1.2rem;
  }

  /*  */

  .buttonsContainer {
    gap: 1rem;
    width: 100%;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    right: 0;
    padding: 0;
    margin-right: 0;
    padding-bottom: 0.5rem;
  }

  /*  */

  .navLinksContainer {
    gap: 1rem;
    padding: 0.5rem;
  }

  .navLinksContainer > a {
    font-size: 0.8rem;
  }

  .navLinksContainer > a:hover {
    text-underline-offset: 3px;
  }
}
