footer {
  container-type: inline-size;
}

/* Default Styles (Large Screens) */

.topFooter {
  height: 140px;
  composes: flexCenter from "../../assets/global.css";
  gap: 2.3rem;
  padding: 2rem;
  color: var(--text-light);
  background-color: var(--accent);
}

.topFooter * {
  margin: 0;
  padding: 0;
}

.topFooter > h3 {
  font-size: 2rem;
}

.topFooterForm {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topFooterForm input {
  background-color: var(--text-dark);
  color: var(--text-light);
  border: 1px solid var(--primary);
  height: 100%;
  width: clamp(250px, 250px + 3vw, 400px);
  padding: 0rem 0.5rem;
}

.topFooterForm input:focus {
  outline: none;
  border: 1px solid var(--text-light);
}

.topFooterForm input::placeholder {
  font-size: 0.9rem;
  color: var(--primary);
}

.topFooterForm button {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--primary);
  color: var(--text-dark);
  padding: 0 1rem;
  border: 1px solid var(--primary);
  font-weight: 600;
}

.topFooterForm button:hover {
  background-color: var(--text-light);
}

/*  */

.mainFooter {
  color: var(--text-gray);
  background-color: var(--primary);
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  gap: 2rem;
}

.mainFooter a {
  color: var(--text-gray);
  text-decoration: none;
}

.mainFooter a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.mainFooterTopSection {
  composes: flexCenter from "../../assets/global.css";
  padding: 3rem 0;
}

.linksSectionContainer {
  composes: flexCenter from "../../assets/global.css";
  gap: 3rem;
  padding-right: 4rem;
  border-right: 1px solid black;
}

.linksBlock {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  gap: 0.5rem;
}

.linksBlock a {
  font-family: "OpenSansFooterLink";
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.contactSectionContainer {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 4rem;
}

.contactInfoContainer {
  composes: flexCenter from "../../assets/global.css";
  gap: 3rem;
}

.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 1px;
}

.mainFooterBottomSection {
  composes: flexCenter from "../../assets/global.css";
  gap: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.mainFooterBottomSection a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.mainFooterBottomSection p {
  margin: 0;
  padding: 0;
}

/*  */

.bottomFooter {
  color: var(--text-light);
  background-color: var(--accent-lighter);
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
}

.bottomFooter * {
  padding: 0;
  margin: 0;
}

.bottomFooter a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-light);
  text-decoration: none;
  padding: 0.3rem 0;
  gap: 0.5rem;
  letter-spacing: 0.6px;
}

.bottomFooter a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.bottomFooter a:hover svg g {
  fill: #4078c0;
}

.bottomFooter p {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

/* Laptop Styles (width < 1200px) */
@container (width < 1200px) {
  .mainFooter {
    gap: 1rem;
  }

  .mainFooterTopSection {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
  }

  .linksSectionContainer {
    gap: 2rem;
    padding-right: 2rem;
  }

  .contactSectionContainer {
    gap: 0;
    padding-left: 2rem;
  }

  .contactInfoContainer {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  .contactInfoContainer div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

/* Tablet Styles (width < 1000px) */
@container (width < 1000px) {
  .topFooter {
    gap: 1.2rem;
    padding: 1rem;
  }

  .topFooter > h3 {
    font-size: 1.5rem;
  }

  .topFooter > p {
    font-size: 0.9rem;
  }

  .topFooterForm {
    height: 60%;
  }

  /*  */

  .linksSectionContainer {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding-right: 3rem;
  }

  .linksSectionContainer div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .contactSectionContainer {
    gap: 1rem;
    padding-left: 3rem;
  }

  .contactInfoContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  .contactInfoContainer div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

/* Smaller Screen Tablet Styles (width < 800px) */
@container (width < 800px) {
  .topFooter {
    height: auto;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
  }

  .topFooter form:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }

  /*  */

  .mainFooterTopSection {
    display: flex !important;
  }

  .linksSectionContainer {
    width: fit-content;
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
    padding-right: 3rem;
  }

  .contactSectionContainer {
    width: max-content;
    gap: 1rem;
    padding-left: 3rem;
  }

  .mainFooterBottomSection {
    letter-spacing: 0.5px;
  }
}

/* Mobile Styles (width < 600px) */
@container (width < 600px) {
}
