.topFooter {
  composes: flexCenter from "../../assets/global.css";
  gap: 2rem;
  padding: 2rem;
  color: var(--text-light);
  background-color: var(--accent);
}

.topFooter * {
  margin: 0;
  padding: 0;
}

.topFooter > h3 {
  font-size: 2rem;
}

/*  */

.mainFooter {
  color: var(--text-dark);
  background-color: var(--primary);
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0rem;
}

.mainFooterTopSection {
  composes: flexCenter from "../../assets/global.css";
  gap: 2rem;
}

.linksSectionContainer {
  composes: flexCenter from "../../assets/global.css";
  gap: 3rem;
}

.linksBlock {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
}

.contactSectionContainer {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
}

.contactInfoContainer {
  composes: flexCenter from "../../assets/global.css";
  gap: 3rem;
}

.mainFooterBottomSection {
  composes: flexCenter from "../../assets/global.css";
  gap: 1.5rem;
}

/*  */

.bottomFooter {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  padding: 1rem;
}
