.productPage {
  display: flex;
  gap: 2rem;
  padding: 5rem;
}

.productImgContainer {
  width: 650px;
  height: auto;
  overflow: hidden;
}

.productImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40%;
}

.productDetailTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetailBrand {
  font-size: 1.5rem;
}

.productDetailGender {
  font-size: 1rem;
  text-decoration: underline;
}

.productDetailTitle {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid black;
}

.productDetailPrice::after {
  content: "$";
}

.productDetailDescription {
  letter-spacing: 0.5px;
}

.selectWrapper {
  max-height: 120px;
  overflow-y: auto;
}
