.productPage {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;
}

/*  */

.productImgContainer {
  width: 650px;
  height: auto;
  overflow: hidden;
}

.productImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
