@font-face {
  font-family: "MontserratHeading";
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansText";
  src: url("./assets/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansFooterLink";
  src: url("./assets/fonts/OpenSans-Light.ttf") format("truetype");
}

:root {
  --main-bg: #ffffff;
  --primary: #ffc038;
  --primary-darker: #c8651b;
  --accent: #090909;
  --accent-lighter: #272525;
  --accent-lightest: #f2efee;
  --text-dark: #090909;
  --text-gray: #423c3a;
  --text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 2000px;
  margin: auto;
  font-family: "OpenSansText", sans-serif;
  background-color: var(--main-bg);
  color: var(--text-gray);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MontserratHeading", sans-serif;
  cursor: default;
}
