.storyHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem 0;
  padding: 0 2rem;
}

.storyHeaderTitle {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.storyHeaderText {
  max-width: 600px;
  letter-spacing: 0.5px;
  font-size: 1rem;
  text-align: center;
}

/*  */

.storyMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.storyMainSubSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 4rem;
}

.subSectionImgWrapper {
  object-fit: cover;
}

.subSectionImgWrapper img {
  width: 550px;
  height: auto;
}

.ImgWrapperLeft {
  justify-self: end;
}

.ImgWrapperRight {
  justify-self: start;
}

.subSectionInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 35px;
  margin-left: 25px;
}

.InfoContainerLeft {
  align-items: flex-end;
  text-align: end;
}

.InfoContainerRight {
  align-items: flex-start;
  text-align: start;
}

.subSectionInfoHeader {
  width: fit-content;
  letter-spacing: 1px;
}

.subSectionInfoText {
  margin: 0;
  width: clamp(150px, 65%, 360px);
  line-height: 1.4em;
  letter-spacing: 0.5px;
}

.subSectionLink {
  width: fit-content;
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
}

.subSectionLink:hover {
  background-color: brown;
  text-decoration: underline;
}

/*  */

.storyPhilantrophy {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: antiquewhite;
  margin-bottom: 4rem;
}

.philantrophyInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding: 30px;
}

.philantrophyInfoContainer p {
  text-align: end;
  max-width: 700px;
  line-height: 1.5em;
}

.philantrophyImgWrapper {
  max-height: 500px;
}

.philantrophyImg {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

.philanthropyLink {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-underline-offset: 4px;
}

/*  */

.blogPostsSection {
  composes: flexCenter from "../../assets/global.css";
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 8rem;
}

.postsContainer {
  display: flex;
  justify-content: space-evenly;
  gap: calc(2rem + 3vw);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 390px;
}

.postImage {
  max-width: 100%;
  height: 460px;
  object-fit: cover;
}
