.ProductsBannerContainer {
  container-type: inline-size;
}

/* Default Styles (Large Screens) */

.ProductsBannerContainer {
  display: flex;
  background-color: antiquewhite;
}

.bannerInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  flex-grow: 1;
  padding: 1rem 3rem;
}

.bannerInfoContainer p {
  text-align: center;
}

/*  */

.bannerImgWrapper {
  display: flex;
  max-height: 500px;
  overflow: hidden;
}

.bannerImg {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  transition: transform 0.2s linear;
}

.bannerImgWrapper:hover .bannerImg {
  transform: scale(1.05);
}

/* Smaller Screen Tablet Styles (width < 800px) */
@media (max-width: 799px) {
  .ProductsBannerContainer {
    flex-direction: column;
  }
}

@container (width < 800px) {
  .bannerInfoContainer {
    width: 100%;
  }
}
