.pageNumsTopNav {
  container-type: inline-size;
}

.pageNumsTopNav {
  composes: flexCenter from "../../../assets/global.css";
  margin-top: 1rem;
}

.pageNumsList {
  composes: flexCenter from "../../../assets/global.css";
  list-style: none;
  gap: 2rem;
}

.pageNumListItem {
  font-size: 1.5rem;
}

.pageNumLink {
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 0 0.3rem;
  border-radius: 4px;
}

.pageNumLink:hover {
  background-color: var(--primary);
  color: white;
}

.selected {
  background-color: var(--primary);
  color: white;
}

/* Mobile Styles (width < 600px) */
@container (width < 600px) {
  .pageNumsList {
    gap: 1rem;
    padding-left: 0;
  }

  .pageNumListItem {
    font-size: 1.2rem;
  }
}
